<div class="container">
  <ng-image-slider [imageSize]="{width: '100%', height: '100%'}" [images]="imageObject" #nav></ng-image-slider>
  <div class="text-block">
     <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit(reactiveForm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Location</label>
                <select class="form-control" id="name" formControlName="name" placeholder="Select from">
                  <option *ngFor="let l of location" [value]="l">{{l}}</option>
                </select>
              
              </div>
            </div>
          </div> 

          <div class="col-sm-12 text-center">
            <label>Start Date</label>
            <mat-form-field>
              <input matInput [matDatepicker]="myDatepicker">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
            
          </div>












    <!-- <p>Loaction AND Date</p>
    <br>
    <br>
      
    <label>Location</label> <input type="text">
    <br>
    <br>
    <br>
    <label>Start Date</label> <input type="text">
    <br>
    <br> 
       -->
    
       <div class="col-sm-12 text-center">
    <button>
      <a routerLink="cars" routerLinkActive="active">submit</a>
    </button>
    <router-outlet></router-outlet>
  </div>

  </form>
  </div>
  </div>
  </div>
  </div>

    
